.about{
    margin-top: 30px;
    padding: 0 15px;
}
.about .about-1{
    margin: 10px 0;
    color: orange;
    font-size: 30px;
}
.about p{
    margin-bottom: 30px;
}

.about .history{
    margin: 10px 0;
    color: orange;
    font-size: 30px;
}