*{
    margin: 0;
    padding: 0;
}


body{
background-color: rgba(87, 173, 173, 0.222);
}
.user_img{
    width: 80px;
    height: 80px;
    border: 2px solid gray;
    border-radius: 100%;
  
}
.img_div{
    display: flex;
    justify-content: center;
}
p.hname{
    margin: 5px 0;
    color:cornflowerblue;
    text-align:center;
    font-family:arial black;
    font-weight:bold;
    font-size:25px;
                
}
main{
    min-height: 100vh;
    display: flex;
 justify-content: center;
 align-items: center;

}

div.phone{
    width:350px; 
    height:500px;
border:2px solid gray;
 border-radius:15px;
         padding: 10px;           
 background-color:white;
 box-shadow:8px 8px 10px rgba(0, 0, 0, 0.374);
 
}

input{
    margin-left:20px;
            height:30px;
            width:260px;
            /* background-color:rgb(240,240,245); */
            color:rgba(128, 128, 128, 0.904);
            border:1px solid rgb(150,150,150);
            border-radius:5px;
            padding: 5px;
        }
#pass{
    margin-top:10px;
}
#login{
    background-color:rgb(80,80,255);
             margin-top:10px;
             margin-left:20px;
             height:35px;
             width:260px;
            
             font-size:16px;
             border:none;
             border-radius:4px;
             color:white;
             text-decoration: none;

 }
 
 #login:hover{
    cursor: pointer;
 }
#signup{
    background-color:rgb(0,170,0);
             margin-top:10px;
             margin-left:75px;
             height:32px;
             width:150px;
             color:white;
             font-size:12px;
             border:none;
             border-radius:3px;}
             .forget{
                text-align:center;
                margin: 10px 0;
 }
 #signup:hover{
     cursor: pointer;
 }
.forget>a{
  
    text-decoration: none;
  
    color:rgb(80,80,255);
  
}
.forget>a:hover{
    text-decoration: underline;
}


div.left{width:100px;
              float:left;
              font-size:10px;
              color:grey;
              margin-left:20px;
              margin-top:25px;
              text-align:center;}
div.right{width:100px;
                 float:right;
                 font-size:10px;
                 color:grey;
                 margin-right:20px;
                 margin-top:25px;
                 text-align:center;}
p.more{font-size:14px;
               font-weight:bold;
                width:15px;
               height:15px;
               padding:0px;
               border:1.4px solid grey;
               border-radius:2px;
               margin-left:42px;
               margin-top:0px;}
p.inc{font-family:arial;
           color:grey;
           margin-top:120px;
           margin-left:100px;
           font-size:16px;}